


.reveal .seeNext,
.reveal .parentCategory {
	display: inline-block;
	margin-bottom: 40px;
	font-size: 0.6em;
	line-height: 1em;
	padding: 3px 0;
	color: #333;
	background: rgba(0, 0, 0, 0.03);
	width: 100%;

}

.reveal .seeNext{
	margin: 40px 0 0 0;
}

.hidden {
	display: none;
}

.reveal section img {
	max-width: 480px;
	max-height: 270px;
}

.reveal section {
	min-height: 300px;
}

.reveal .slides > section > section.present {
	background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background-color: #f7fbfc;
	-webkit-box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px black
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
	margin-left: 15px;
	margin-right: 15px;
}

.jqmClose {
	float: left;
	margin-top: 0.1em;
}

#articleTitle {
	margin-top: 0;
}


 .logo {
                position: fixed;
                top:10px;
                left:15px;
                z-index: 98;
            }

#article {
	-moz-column-count:2; /* Firefox */
	-webkit-column-count:2; /* Safari and Chrome */
	column-count:2;

	padding: 2px 20px 20px 20px;

	color: #515151;
	font-family: Georgia, serif;
	font-size: 19px;
	line-height: 30.399999618530273px;
}

            #articleTitle {
                font-size: 2em;
                width: 90%;
                text-align: center;
                line-height: 1.4em;
                margin-bottom: 20px;
            }

            .jqmWindow {
                font: 10px !important;
                display: none;

                position: fixed;
                top: 5%;
                left: 5%;

                width: 90%;
                height: 80%;

                background: white;
                color: #333;
                border: 2px solid black;
                padding: 12px;
                z-index: 100;
                opacity: 0.9;
                overflow-y: scroll;
            }

            .jqmOverlay { background-color: #000;
                height: 90%;
                /*border: 1px solid red;*/
                /*opacity: 0.5;*/
            }

                /* Fixed posistioning emulation for IE6
        Star selector used to hide definition from browsers other than IE6
        For valid CSS, use a conditional include instead */
            * html .jqmWindow {
                position: fixed;
                top: 0;
                left:0;
                /*top: expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(17 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');*/
            }





