


.reveal .seeNext,
.reveal .parentCategory {
	display: inline-block;
	margin-bottom: 40px;
	font-size: 0.6em;
	line-height: 1em;
	padding: 3px 0;
	color: #333;
	background: rgba(0, 0, 0, 0.03);
	width: 100%;

}

.reveal .seeNext{
	margin: 40px 0 0 0;
}

.hidden {
	display: none;
}

.reveal section img {
	max-width: 480px;
	max-height: 270px;
}

.reveal section {
	min-height: 300px;
}

.reveal .slides > section > section.present {
	background: -webkit-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -moz-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -o-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: -ms-radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background: radial-gradient(center, circle cover, #f7fbfc 0%, #add9e4 100%);
	background-color: #f7fbfc;
	-webkit-box-shadow: 0px 0px 20px black;
	box-shadow: 0px 0px 20px black

}