


.reveal .seeNext,
.reveal .parentCategory {
	display: inline-block;
	margin-bottom: 40px;
	font-size: 0.6em;
	line-height: 1em;
	padding: 3px 0;
	color: #333;
	background: #f7fbfc;
	width: 100%;

}

.reveal .seeNext{
	margin: 40px 0 0 0;
}

.hidden {
	display: none;
}

.reveal section img {
	max-width: 480px;
	max-height: 270px;
}

.reveal section {
	min-height: 300px;
}

.reveal .slides > section > section.present {
	background: rgba(0, 0, 0, 0.1);
}